<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<!--[kobe_notes] 選單放這,所有的頁面就可以一次全改 -->
  	<div class="container">
    	<%= yield %>
      <%= yield :hole_from_about%>
      <!--只有在提供:hole_from_about這個symble才會在此處輸出-->
	</div>
  </body>
</html>
